.movies {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
    opacity: 0.8;
background-color: #000000DD;
font-size: 20px;
display: flex;
justify-content: space-between;
flex-direction: column;
padding: 10px;
width: 60vw;
border-radius: 10px;
box-shadow: 0 0 80px 20px #000;
transition: background-color 0.50s;
color: #fff;
font-size: 20px;
  }
  
  .movies:hover {
    /*background-color: #efeded;*/
    background-color: #000000FF;

}

  .movies ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 0.8;
      transform: translateY(0);
    }
  }